.img-body {
	background-image: url("body-img.jpg");
}

.button-img {
	background-color : gray;
}

#divCopil {
	width: 50%;
    margin: 0 auto;
}


.label {
	padding-bottom: 20px;
	display: inline-block;
	width: 140px;
	text-align: right;
}

.line {
	width: 50%;
    margin: 0 auto;
}

.inputs {
		
}

#submitButton {
	text-align: center;
	padding: 20px;
}

.button {
	width: 50%;
    margin: 0 auto;
}

#dropdown {
	
}

#dropdownDiv{
	width: 10%;
	margin: 0 auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 75%;
	margin-bottom: 20px;
	margin : 0 auto;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}


